@import "tailwindcss";
@plugin "@tailwindcss/typography";

html {
  font-size: 112.5%;
}

.prose img {
  max-width: 100%;
  height: auto;
}

@theme {
  --color-ink: #17110f; 
  --color-cream: #f7f5f1; 

  --color-teal: #0f6e56;
  --color-teal-light: #5dcaa5;

  --color-score-green: #97c459;
  --color-score-yellow: #ef9f27;
  --color-score-red: #f09595;

  --font-serif: var(--font-instrument-serif);
  --font-sans: var(--font-public-sans);
}